.influencer-products-web{
    font-family: 'Roboto', sans-serif;
    margin: 120px;

}

/*-----------------------
first Article Styles
-----------------------*/


nav > ul{
    display: flex;
    list-style: none;
    
}
nav > ul > li > a{
    text-decoration: none;
    padding: 15px;
    position: relative;
    left: 600px;

}
h1{
    font-size: 40px;
}
.first-section{
    display: flex;
       
}
button{
    background-color: #E03B8B;
    color: white;
    padding: 12px 40px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px;
}
.blog-image{
    width: 100%;
    position: relative;
    left: 120px;

}
hr{
    border: 1px solid gainsboro;
    margin-top: 100px;

}

/*------------------------
Second Article Styles
------------------------*/

.second-heading{
    text-align: center;
    padding: 70px;
    font-size: 30px;
}
.second-section{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}
.products{
    border: 1px solid gainsboro;
    width: 300px;
    height: 470px;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    
}
.fa-star.filled{
    color: #E07C24;
}
.products-image img{
    width: 100%;

}
.footer a{
    text-decoration: none;
    font-size: 20px;
    position: relative;
    left: 49em;
    color: red;

}

/*--------------------- 
Thirde Article Styles 
---------------------*/
.future-tecnology{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 100px;
    

}
.tecnology-image img{
    width: 70%;

}

/*--------------------
Footer Styles Start
--------------------*/

footer{
    
    padding: 40px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 200px;

}
footer a{
    text-decoration: none;
    padding: 10px;
    color: black;
}

/*------------------
Footer Styles End
------------------*/

/*----------------------
Media Querys For Mobile
----------------------*/
@media only screen and (max-width:688) {
    .influencer-products-web{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
/*----------------------
Media Querys For Computer
----------------------*/
@media only screen and (max-width:1020) {
    .influencer-products-web{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
